<html>
    <head>
        <title>Botkit On VUE</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
        <script src="https://cdn.rawgit.com/showdownjs/showdown/1.7.4/dist/showdown.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- import Vue Element -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- import Vue Element UI -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        
    </head>
    <body >
      <div class="wrapper">
        <div id="message_window">
          <el-container>
            <el-header>MBPSMARTEC CHATBOT v0.1</el-header>
            <el-container>
            <el-aside width="200px">
              <h1>{{default_user}} 様 <br>{{greeting}}</h1>
              <hr>
              <div v-for="ui in online_users" >
                <el-badge :value="ui.notice.count" :type="ui.notice.type" :hidden="ui.notice.count==0" class="item" >
                  <el-button size="small" @click="addUserTab(ui.user)"  type="primary">
                    <i class="el-icon-user"></i> {{ui.user}} 
                  </el-button>
                </el-badge>
              </div>
            </el-aside>
            <el-main>
              <el-tabs v-model="active_user"  type="border-card" @tab-remove="removeUserTab">
                <el-tab-pane
                  v-for="(item, index) in user_tabs" 
                  :key="item.name" :name="item.name" :label="item.title" :closable="item.closable">
                  <span slot="label"><i class="el-icon-user"></i> {{item.title}}</span>

                  <section class="section">
                    <div v-for="msg in getUserMessages(item.name)" >
                      <template v-if="(msg.user === item.name && msg.tranfered) || !msg.tranfered " >
                      <div v-if="msg.isTyping" class="typing-indicator">
                        <span></span>
                        <span></span>
                        <span></span>
                      </div>
                      <div v-if="msg.user === 'bot'">
                        <el-row  style="float: left;">
                          <el-col :span="8">
                            ChatBot:                       
                          </el-col>
                          <el-col :span="16">
                            <div class="grid-content bg-purple-light">
                              <el-alert :title="msg.text" type="success"  :closable="false"></el-alert>
                              <div v-for="reply in msg.quick_replies" >
                                <el-button type="primary" plain @click="onQuickReply(reply.payload)">{{ reply.title }}</el-button>
                              </div>
                            </div>
                          </el-col>       
                        </el-row>              
                      </div>
                      <div v-else>
                        <el-row style="float: right;"> 
                          <el-col :span="8" style="float: right;">
                            {{msg.user}}:
                          </el-col>
                          <el-col :span="16">
                            <div class="grid-content bg-purple-light">
                              <el-alert :title="msg.text" type="success"  :closable="false"></el-alert><br>
                              <div v-for="reply in msg.quick_replies" >
                                <el-button type="primary" plain>{{ reply.title }}</el-button>
                              </div>
                            </div>
                          </el-col>
                        </el-row>      
                      </div>
                    </template>
                    </div> 
                  </section>              
                </el-tab-pane>
              </el-tabs>
            </el-main>
          </el-container>
            <el-footer>
              <form>
              <input type="text" autocomplete="off" id="messenger_input" placeholder="Type here..." v-model="inputText" />
              <button @click="sendMessage" >Send</button>
              
            </form>
            </el-footer>
          </el-container>
        </div>
      </div>
      <script src="/client.js"></script>
    </body>

    <script>
      
      //import Botkit from "./"
      var v = new Vue({
        el: '#message_window',
        data: function() {
          return {
            chatbot: Botkit,
            chat_connected: false,
            inputText:'',
            default_user:'',
            active_user:"",
            user_tabs:[],
            online_users:[],
            notice_list:[]
          }
        },
        mounted : function(){
          this.chatbot.element = this;
          this.chatbot.on('disconnected', this.onDisConnected);
          this.chatbot.on('connected', this.onConnected);
          this.chatbot.on('notified', this.onNotified);
          
          this.chatbot.on('message', this.onReceived);
          this.chatbot.on('sent', this.onMessageSent);
          this.default_user ='admin';
          this.refreshOnlineUser(this.default_user);
          this.addUserTab(this.default_user);
          this.chatbot.connect(this.default_user);
        },
        computed: {
          connect_comment:()=>{
            var msg = '';
            if(this.chat_connected){
              msg = "接続中。。。";
            }else{
              msg = "切断された... 接続をやり直します。";
            }
            return msg;
          },
          greeting: ()=>{
            const now = new Date();
            if(now.getHours()<12){
              return "おはようございます。"
            }else{
              return "こんにちは。"
            }
          }
        },
        methods:{
          onConnected:function(event, msg){
            this.chat_connected = true;
            this.$message({
              message: 'サーバに接続できました。',
              type: 'success'
            });
            this.chatbot.sendEvent({
              name: 'connected'
            });
          },
          onDisConnected:function(event, msg){
            this.chat_connected = false;
            this.$message({
              message: 'ネットワークが切断されました。',
              type: 'error'
            });
          },
          onReceived:function(event, msg){
            if(!msg.user){
              if(msg.origin_user){
                msg.user = msg.origin_user;
              }
            }
            console.log("onReceived==============", msg);
            var online_user = this.refreshOnlineUser(msg.user);
            online_user.message_list.unshift(msg);
          },
          refreshOnlineUser(user){
            var online_user = this.online_users.find(e=> e.user === user);
            if(!online_user){
              online_user = {
                user: user,
                notice: {
                  info :0,
                  warn :0,
                  count: this.info + this.warn
                },
                message_list:[],
                type: ()=>{ 
                  if(this.notice.warn>0) {
                    return "warning";
                  }else{
                    return "primary";
                  }
                }
              }
              this.online_users.push(online_user);
            }
            return online_user;
          },
          getUserMessages(user){
            var online_user = this.online_users.find(e=> e.user === user);
            return online_user.message_list;
          },
          onNotified:function(event, msg){
            if(msg.event === "online"){
              var online_user = this.refreshOnlineUser(msg.user);
              online_user.notice.info++;
            }

            if(msg.event ==="unknown"){
              var online_user = this.refreshOnlineUser(msg.origin_user);
              online_user.notice.warn++;

              if(msg.origin_user && !msg.tranfered){
                msg.text ="[" + msg.origin_user + "]様より：" + msg.text;
                msg.tranfered = true;
              }
              online_user.message_list.unshift(msg);
            }
          },
          addUserTab(username) {
            var idx = this.user_tabs.findIndex((e) => e.name === username);
            //存在しなければ、追加
            if(idx == -1){
              this.user_tabs.push({
                title: username,
                name: username,
                closable: username != this.default_user
              });              
            }
            this.active_user = username;
          },
          removeUserTab(username) {
            var idx = this.user_tabs.findIndex((e) => e.name === username);
            //存在すれば、削除
            if(idx!= -1){
              this.user_tabs.splice(idx, 1);
              if(idx >= this.user_tabs.length){
                idx = this.user_tabs.length - 1;
              }
              this.active_user = this.user_tabs[idx].name;
            }
          },
          onMessageSent:function(event, msg){
            var online_user = this.refreshOnlineUser(msg.user);
            online_user.message_list.unshift(msg);
          },
          onQuickReply:function(payload){
            console.log(payload);
            this.chatbot.quickReply(payload);
          },
          sendMessage : function(e){
            var message ={
              text: this.inputText,
              user: this.default_user,
              reply_user: this.active_user
            }
            Botkit.send(message, e);      
            this.inputText = '';
          }
        }
      })
    </script>

<style>
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    height: 100%;
  }
  
  
</style>

</html>